{% extends "base.html" %}

{% block specific_buttons %}
<ul class="nav pull-right">
  <li rel="tooltip" title="Add new device and custom feature!"><a href="#newModal" data-toggle="modal"><i class="icon-plus"></i> Add new feature</a></li>
</ul>
{% endblock %}

{% block content %}


<div class="active item sisalto"><!-- modules-->
  <div class="row-fluid">
    <ul class="thumbnails">

      <!-- Installed Modules -->
      {% for app in applist %}
      <li class="span4">
        <div class="thumbnail equalize">
          <a href="/remove/{{ app.id }}" type="button" class="close sulje">&times;</a>
          <div class="muted"><small>{{ app.sensor.code }} <span rel="tooltip" title="{{ app.sensor.brand }} - {{ app.sensor.technology }}">{{ app.sensor.label }}</span></small></div>
          
          <div class="caption">
            <ul class="inline">
              <li><embed class="svg-icons" src="{{STATIC_URL}}img/icons/{{ app.icon }}-24.svg" type="image/svg+xml" style="opacity:0.5"/></li>
              <li><h3>{{ app.name }}</h3></li>
            </ul>
            <p class="lead">{{ app.lead }}</p>


            {% if app.sensor.code = "01" %}
            <!-- 01 Webcam -->
            {% if webcam %}
            <div class="well">
              <a href="/webcam/" type="button" class="close websulki"><i class="icon-remove-sign"></i></a>
              <div class="">
                <iframe frameborder="0" src="http://dosa.homeip.net:8071/mjpeg.cgi"></iframe>
              </div>
            </div>
            {% else %}
            <a href="/webcam/" class="btn btn-large btn-success">Open webcam stream</a>
            {% endif %}
            {% endif %}
            

            
            {% if app.sensor.code = "02" %}
            <!-- 02 Temperature -->
            <script src="http://temperature-widget.herokuapp.com/ninja_widget.js?widget_token=rqlshdoiectupilajlvsbsgkfdqpahnbhdgxubflwgbxmfftyv"></script>
            {% endif %}

            
            {% if app.sensor.code = "03" %}
            <!-- 03 Multiswitch -->
            <div class="well">
              <ul class="inline" id="multiclick">
                <li><button class="btn btn-success multiswitch-on" type="button">On</button></li>
                <li><button class="btn btn-danger multiswitch-off" type="button">Off</button></li>
                <li>Switch</li>
              </ul>
              <hr>
              <ul class="unstyled">
                <li>Energy consumption</li>
                <li><small>Current <span class="energy-current">-</span> W</small></li>
                <li><small>Total <span class="energy-total">-</span> kWh</small></li>
              </ul>
            </div>
            {% endif %}

            
            {% if app.sensor.code = "04" %}
            <!-- 04 Lampswitch -->
            <div class="well">
              <ul class="inline">
                <li><button class="btn btn-success lampswitch-on" type="button">On</button></li>
                <li><button class="btn btn-danger lampswitch-off" type="button">Off</button></li>
                <li>Switch</li>
              </ul>
            </div>
            {% endif %}

            
            {% if app.sensor.code = "05" %}
            <!-- 05 Water -->
            <div class="well">
              <button class="refresh btn btn-mini pull-right" type="button"><i class="icon-refresh"></i></button>
              <a data-toggle="modal" data-target="#noteModal">Status</a>
              <p class="lead"><span class="water">No connection</span></p>
            </div>
            {% endif %}

            
            {% if app.sensor.code = "06" %}
            <!-- 06 Switch -->
            <div class="well">
              <ul class="inline">
                <li><button class="btn btn-success switch-06-on" type="button">On</button></li>
                <li><button class="btn btn-danger switch-06-off" type="button">Off</button></li>
                <li>Switch</li>
              </ul>
            </div>
            {% endif %}

            
            {% if app.sensor.code = "08" %}
            <!-- 08 Switch -->
            <div class="well">
              <ul class="inline">
                <li><button class="btn btn-success switch-08-on" type="button">On</button></li>
                <li><button class="btn btn-danger switch-08-off" type="button">Off</button></li>
                <li>Switch</li>
              </ul>
            </div>
            {% endif %}

            
            {% if app.sensor.code = "12" %}
            <!-- 12 Switch -->
            <div class="well">
              <ul class="inline">
                <li><button class="btn btn-success switch-12-on" type="button">On</button></li>
                <li><button class="btn btn-danger switch-12-off" type="button">Off</button></li>
                <li>Switch</li>
              </ul>
            </div>
            {% endif %}


          </div>
        </div>
      </li>

      {% empty %}
      <div class="caption">
        <a href="#newModal" data-toggle="modal" class="btn btn-large" type="button"><i class="icon-plus"></i> Add new feature</a>
      </div>
      {% endfor %}

    </ul>
  </div>
</div><!-- ./modules-->



<!-- Sensor ID Modal -->
<div id="newModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Register device</h3>
  </div>
  <div class="modal-body">
    <p>Please fill in <strong>ID number of new device</strong>:</p>
    <form action="" method="get">
      <div class="input-prepend">
        <span class="add-on">#</span>
        <input class="span2" type="text" name="id" placeholder="number">
      </div><br><br>
      <button id="vaihda-2step" type="submit" class="btn btn-large btn-primary pull-right">Register device</button>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Back</button>
  </div>
</div><!-- ./sensor ID -->



{% if appform %}
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div id="myTabContent" class="tab-content">


    <!-- 1. Modal -->
    <div class="tab-pane fade in active" id="1tab">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">
          <span class="lataus">Scanning local network..</span><!-- load -->
          <span class="tulos">New device identified</span><!-- result -->
        </h3>
      </div>
      <div class="modal-body">
        <!-- load -->
        <div class="lataus">
          <p class="lead muted">Identifying hardware..</p>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 100%;"></div>
          </div>
        </div>
        <!-- result -->
        <div class="tulos">

          {% if sensordata %}
          {% for sensor in sensordata %}
          <ul class="thumbnails">
            <li class="span2">
              <div class="thumbnail">
                <img src="{{STATIC_URL}}img/devices/{{ sensor.picture }}" height="128" width="128">
              </div>
            </li>
          </ul>
          <p>One new device found:</p>
          <div class="alert alert-success">
            <p><span class="muted">Device #{{ sensor.code }}</span> <strong>{{ sensor.label }}</strong>
              <span class="label label-success pull-right"><i class="icon-ok icon-white"></i> Successfully installed</span></p>
              <p><small><span class="muted">Description</span><strong> {{ sensor.lead }}</strong></small></p>
              <p><small><span class="muted">Manufacturer</span> {{ sensor.brand }} <span class="muted">- Technology</span> {{ sensor.technology }}</small></p>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <ul class="thumbnails">
            <li class="span2">
              <div class="thumbnail">
                <img src="{{STATIC_URL}}img/devices/alert.png">
              </div>
            </li>
          </ul>
          <div class="alert alert-warning">
            <h3>Support for this device might not be complete</h3>
            <p>There seems to be 2 open source projects for this device but some functionalities may not be fully supported yet.</p>
          </div>
        </div>
        {% endif %}

      </div>
      <div class="modal-footer">
        <div class="lataus">
        </div><!-- load -->
        <div class="tulos"><!-- result -->
          <button class="btn" data-dismiss="modal" aria-hidden="true">Back</button>
          <a class="btn btn-success" href="#2tab" data-toggle="tab">Continue</a>
        </div>
      </div>
    </div>

    <!-- 2. Modal -->
    <div class="tab-pane fade" id="2tab">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Your custom module</h3>
      </div>
      <div class="modal-body">
        <h3>Feature details</h3>
        <form action="/home/" method="post">{% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-primary btn-large pull-right" type="submit" value="Ready" />
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Back</button>
      </div>
    </div>

  </div>
</div>
{% endif %}


{% endblock %}


{% block script %}

{% endblock %}
