{% extends "base.html" %}

{% block specific_buttons %}
<ul class="nav pull-right">
  <li><a href="#newModal" data-toggle="modal"><i class="icon-plus"></i> New App</a></li>
</ul>
{% endblock %}

{% block content %}



<div class="active item sisalto"><!-- modules-->
  <div class="row-fluid">
    <ul class="thumbnails">


      <!-- Installed Modules -->
      {% for app in applist %}
      <li class="span4">
        <div class="thumbnail equalize">
          <a href="/remove/{{ app.id }}" type="button" class="close sulje">&times;</a>
          <div class="caption">
            <ul class="inline">
              <li><img height="32px" width="32px" src="{{ app.picture_url }}"></li>
              <li><h3>{{ app.name }}</h3></li>
            </ul>
            <p class="lead">{{ app.lead }}</p>

            <!-- 01 Webcam -->
            {% if app.sensor == 01 %}
            {% if webcam %}
            <div class="well">
              <a href="/webcam/" type="button" class="close websulki"><i class="icon-off"></i></a>
              <div class="">
                <iframe frameborder="0" src="http://dosa.homeip.net:8071/mjpeg.cgi"></iframe>
              </div>
            </div>
            {% else %}
            <a href="/webcam/" class="btn btn-large">Open webcam stream</a>
            {% endif %}
            {% endif %}
            

            <!-- 02 Temperature -->
            {% if app.sensor == 02 %}
            <script src="http://temperature-widget.herokuapp.com/ninja_widget.js?widget_token=fgoyxjmazepobjzaivuhvnutwsaohsmoxglzwnshridhorisil"></script>
            {% endif %}

            <!-- 03 Multiswitch -->
            {% if app.sensor == 03 %}
            <div class="well">
              <ul class="inline">
                <li><button class="btn btn-success multiswitch-on" type="button">On</button></li>
                <li><button class="btn btn-danger multiswitch-off" type="button">Off</button></li>
                <li>Corner lamp</li>
              </ul>
            </div>
            {% endif %}

            <!-- 04 Lampswitch -->
            {% if app.sensor == 04 %}
            <div class="well">
              <ul class="inline">
                <li><button class="btn btn-success" type="button">On</button></li>
                <li><button class="btn btn-danger" type="button">Off</button></li>
                <li>Sealing lamp</li>
              </ul>
            </div>
            {% endif %}

            <!-- 05 Water -->
            {% if app.sensor == 05 %}
            <div class="well">
              <p>{{ app.name }}</p>
            </div>
            {% endif %}


            <!-- ./custom content -->

          </div>
        </div>
      </li>
      {% endfor %}


    </ul>
  </div>
</div><!-- ./modules-->



<!-- Sensor ID Modal -->
<div id="newModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Register device</h3>
  </div>
  <div class="modal-body">
    <p>Please fill in <strong>device id number</strong>:</p>
    <form action="" method="get">
      <div class="input-prepend">
        <span class="add-on">#</span>
        <input class="span2" type="text" name="id" placeholder="number">
      </div><br><br>
      <button id="vaihda-2step" type="submit" class="btn btn-large btn-primary pull-right">Register device</button>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Back</button>
  </div>
</div><!-- ./sensor ID -->



{% if appform %}
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div id="myTabContent" class="tab-content">


    <!-- 1. Modal -->
    <div class="tab-pane fade in active" id="1tab">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">
          <span class="lataus">Scanning local network..</span><!-- load -->
          <span class="tulos">New sensor identified!</span><!-- result -->
        </h3>
      </div>
      <div class="modal-body">
        <!-- load -->
        <div class="lataus">
          <p class="lead muted">Identifying hardware..</p>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 100%;"></div>
          </div>
        </div>
        <!-- result -->
        <div class="tulos">
          <ul class="thumbnails">
            <li class="span2">
              <div class="thumbnail">
                <img src="{{ sensordata.3 }}">
              </div>
            </li>
          </ul>
          <p>One suitable new sensor found:</p>
          <div class="alert alert-success">
            <p><strong>#{{ sensordata.4 }} - {{ sensordata.0 }} </strong>
              <span class="label label-success pull-right"><i class="icon-ok icon-white"></i> Successfully installed</span></p>
              <p>{{ sensordata.2 }}</p>
              <p><small>({{ sensordata.1 }})</small></p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="lataus">
          </div><!-- load -->
          <div class="tulos"><!-- result -->
            <button class="btn" data-dismiss="modal" aria-hidden="true">Back</button>
            <a class="btn btn-success" href="#2tab" data-toggle="tab">Create new application</a>
          </div>
        </div>
      </div>

      <!-- 2. Modal -->
      <div class="tab-pane fade" id="2tab">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Your own application</h3>
        </div>
        <div class="modal-body">
          <h3>Create your own app!</h3>
          <form action="/home/" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary btn-large pull-right" type="submit" value="Ready" />
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Back</button>
        </div>
      </div>

    </div>
  </div>


{% endif %}


{% endblock %}


{% block script %}
<script src="{{STATIC_URL}}js/{{ title }}.js"></script>
{% endblock %}



            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
              <li><a href="#profile" data-toggle="tab">Profile</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#dropdown1" data-toggle="tab">@fat</a></li>
                  <li><a href="#dropdown2" data-toggle="tab">@mdo</a></li>
                </ul>
              </li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade in active" id="home">
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
              </div>
              <div class="tab-pane fade" id="profile">
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
              </div>
              <div class="tab-pane fade" id="dropdown1">
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
              </div>
              <div class="tab-pane fade" id="dropdown2">
                <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
              </div>
            </div>