{% extends "base.html" %}


{% block content %}


<!-- modules-->
<div class="row-fluid sisalto">
  <ul class="thumbnails">

    <li class="span8">
      <div class="thumbnail">
        <div class="caption">
          <h3>Hardware</h3>
          <p></p>
          <p class="lead">Connected sensors and devices</p>

          <table class="table table-hover">

           <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Manufacturer</th>
            <th>Connection</th>
            <th>Installation date</th>
            <th>Status</th>
          </tr>

          {% for sensor in sensorlist %}
          <tr>
            <td>{{ sensor.code }}</td>
            <td>{{ sensor.label }}</td>
            <td>{{ sensor.brand }}</td>
            <td>{{ sensor.technology }}</td>
            <td>{{ sensor.date }}</td>
            <td><span class="badge badge-success">Online</span></td>
          </tr>
          {% endfor %}


        </table><br>

      </div>
    </div>
  </li>

  <li class="span4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Account</h3>
        <p class="lead">{{ user }}</p>
                <img src="http://png-3.findicons.com/files/icons/730/soft/128/user_male.png"><hr>
        <p class="lead">Balance   23.20 €</p>
      </div>
    </div>
  </li>

  <li class="span4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Support</h3>
        <ul>
          <li>Contact customer service</li>
          <li>Read instructions</li>
          <li>API documentation</li>
          <li>Partners</li>
        </ul>
      </div>
    </div>
  </li>

</ul>
</div><!-- ./modules-->


{% endblock %}


{% block script %}
<script src="{{STATIC_URL}}js/{{ title }}.js"></script>
{% endblock %}