{% extends "base.html" %}


{% block content %}

<!-- modules-->
<div class="row-fluid sisalto">
  <ul class="thumbnails">

    <li class="span9">
      <div class="thumbnail">
        <div class="caption">
          <ul class="inline">
            <li><embed class="svg-icons" src="{{STATIC_URL}}img/icons/settings-24.svg" type="image/svg+xml" style="opacity:0.5"/></li>
            <li><h3>Hardware</h3></li>
          </ul>

          <p class="lead">Connected sensors and devices</p>

          <table class="table table-hover">

            <tr>
              <th>ID</th>
              <th>Device</th>
              <th>Manufacturer</th>
              <th>Connection</th>
              <th>Installation date</th>
              <th>Status</th>
            </tr>

            {% for app in applist %}
            <tr>
              <td># {{ app.sensor.code }}</td>
              <td>{{ app.sensor.label }}</td>
              <td>{{ app.sensor.brand }}</td>
              <td>{{ app.sensor.technology }}</td>
              <td>{{ app.date }}</td>
              <td><span class="badge badge-success">Online</span></td>
            </tr>
            {% endfor %}

          </table><br>

        </div>
      </div>
    </li>

    <li class="span3">
      <div class="thumbnail">
        <div class="caption">
          <ul class="inline">
            <li><embed class="svg-icons" src="{{STATIC_URL}}img/icons/man-24.svg" type="image/svg+xml" style="opacity:0.5"/></li>
            <li><h3>Account</h3></li>
          </ul>        
          <small>Latest user</small>
          <p>{{ user }}</p>
          <p class="lead">Balance {{ balance }} €</p>
        </div>
      </div>
    </li>

    <li class="span3">
      <div class="thumbnail">
        <div class="caption">
          <ul class="inline">
            <li><embed class="svg-icons" src="{{STATIC_URL}}img/icons/bubble-24.svg" type="image/svg+xml" style="opacity:0.5"/></li>
            <li><h3>Notifications</h3></li>
          </ul>
          <p>Latest note</p>
          <p>Latest note</p>
          <p>Latest note</p>
        </div>
      </div>
    </li>

    <li class="span3">
      <div class="thumbnail">
        <div class="caption">
          <ul class="inline">
            <li><embed class="svg-icons" src="{{STATIC_URL}}img/icons/menu-24.svg" type="image/svg+xml" style="opacity:0.5"/></li>
            <li><h3>Support</h3></li>
          </ul>
          <p>Customer service</p>
          <p>Read instructions</p>
          <p>API documentation</p>
          <p>Service Partners</p>
        </div>
      </div>
    </li>

  </ul>
</div><!-- ./modules-->


{% endblock %}


{% block script %}
{% endblock %}