{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block extrahead %}
{% endblock %}

{% block jquery %}
{% endblock %}

{% block active_control %}class="active"{% endblock %}

{% block content %}


    <!--Left column content-->
      <div class="span5">

        <!-- Weather -->
          <div class="well">
            <h1>Light Control</h1>

            <p class="lead">Living Room</p>

                <div class="row-fluid">

                    <p>
                    <a href="/control/lights/on/"><button class="btn btn-large btn-success" type="button">Switch On</button></a>

                    <br><br>

                    <a href="/control/lights/off/"><button class="btn btn-large btn-danger" type="button">Switch Off</button>
                    </p></a>

                </div>

          </div>


      </div>


   

{% endblock %}