@font-face {
	font-family: ubuntuFont;
	src: url(ubuntu-title-fr-1.1.ttf);
}

.ubuntu {
	font-family: ubuntuFont;
}

a:hover {
	text-decoration: none;

}

.first-in-row {
	margin-left: 0 !important;
}


.nurkkaan {
	position: relative;
	top: -50px;
}

.viesti {
     position: fixed;
     bottom: 0;
     right: 0;
     opacity: 1;
}

.tunnus {
	position: relative;
	top: 20px;
	left: 50px;
}

.navbar .brand {
  font-size: 1em;
}

.menu {
	margin-top: 15px;
}