#slider {
	margin:0 auto;
	float:none;
}

#appbox {
	max-height:50px;
}

#nuoli_oik {
	position:relative;
	left:-20px;
}

.valko {
background-color:#fff;
}

.btn {
margin:10px 0 0 0;
}

.tila {
    margin:0 10px 0 0;
	position:relative;
	top:3px;
}

.hiukan {
	position:relative;
	left:20px;
    top:-40px;
}

.iiii {
	max-width:95%;
}
