{% extends "base.html" %}

            {% block specific_buttons %}

            <ul class="nav pull-right">
              <li><form class="navbar-search pull-left" action="">
                <input type="text" class="search-query span2" placeholder="Search">
              </form></li>
              <!--<li><a href="#">Link</a></li>
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>-->
            </ul>
            {% endblock %}

{% block content %}


<!-- ExampleServices Moduleblocks -->
<div class="container-fluid sisalto">
  <div class="row-fluid">
   <div class="span12">
     <ul class="thumbnails">

      {% for example in exampleservices %}

      <li class="span2 equalize" rel="tooltip" title="{{ example.name }}">
        <a href="#{{ example.id }}Modal" class="thumbnail" role="button" data-toggle="modal">
        <img src="{{ example.logo_url }}"></a>
      </li>

      {% endfor %}
      


    </ul> 
  </div>
</div>



<!-- ExampleServices Modals -->
{% for example in exampleservices %}
<div id="{{ example.id }}Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{{ example.name }}</h3>
  </div>
  <div class="modal-body">
    <ul class="thumbnails">
      <li class="span2">
        <div class="thumbnail">
          <img src="{{ example.logo_url }}">
        </div>
      </li>
    </ul>
    <p class="lead">{{ example.lead }}</p>
    <p>{{ example.service_description }}</p>
    <p>{{ example.additional_description }}</p>
    <p>Hardware requirements:</p>
    <p><strong>{{ example.sensor_1 }}</strong></p>
    <p><strong>{{ example.sensor_2 }}</strong></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Back</button>
    <button class="btn btn-success disabled">Connect to service</button>
  </div>
</div>
{% endfor %}




{% endblock %}


{% block script %}
<script src="{{STATIC_URL}}js/{{ title }}.js"></script>
{% endblock %}