{% extends "base.html" %}


{% block content %}


<!-- Service blocks -->
<div class="container-fluid">
  <div class="row-fluid">
   <div class="span12">
     <ul class="thumbnails">

      <li class="span2">
        <a id="lataus" href="#myModal" class="thumbnail block equalize" role="button" data-toggle="modal" rel="tooltip" title="Provider Finder">
          <img src="{{STATIC_URL}}img/logo/provider.png">
        </a>
      </li>

      {% for app in applist %}
      <li class="span2">
        <a href="#{{ app.appearance_order }}Modal" class="thumbnail block equalize" role="button" data-toggle="modal" rel="tooltip" title="{{ app.name }}">
          <img src={{ app.picture_url }}>
        </a>
      </li>
      {% endfor %}

    </ul> 
  </div>
</div>



<!-- Modals -->
{% for app in applist %}
<div id="{{ app.appearance_order }}Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{{ app.name }}</h3>
  </div>
  <div class="modal-body">
    <ul class="thumbnails">

      <li class="span2">
        <div class="thumbnail">
          <img src="{{ app.picture_url }}">
        </div>
      </li>

    </ul>

    <p class="lead">{{ app.lead }}</p>
    <p>{{ app.general_description }}</p>
    <p>{{ app.additional_description }}<br>
      Hardware needed:</p>
      <p><strong>{{ app.sensor_1 }}</strong></p>
      <p><strong>{{ app.sensor_2 }}</strong></p>

    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Back</button>
      <button class="btn btn-success disabled">{{ app.button_left }}</button>
      <button class="btn btn-success disabled">{{ app.button_right }}</button>
    </div>
  </div>
  {% endfor %}



  <!-- Unique Modals -->
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="tab-content">

      <!-- 0Modal -->
      <div class="tab-pane fade in active" id="0modal">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Provider Finder</h3>
        </div>
        <div class="modal-body">
          <ul class="thumbnails">
            <li class="span2">
              <div class="thumbnail">
                <img src="{{STATIC_URL}}img/logo/provider.png">
              </div>
            </li>
          </ul>
          <p class="lead">Service description</p>
          <p>This service application enables a direct connection between your sensors and facilty services. You can make a service plan according to your preferences.</p>
          <p>Service is powered by facility management company eFM. All the service provider partners are trushworthy and verified by eFM.</p>
            <p><strong>Works with many types of sensors</strong></p>
            <p>Scan your hardware to test suitability.</p>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Back</button>
            <button class="btn btn-info disabled">Terms and conditions</button>
            <a class="btn btn-success" href="#1modal" data-toggle="tab">Scan for suitable sensors</a>
          </div>



    </div><!-- ./0modal -->




    <!-- 1. Modal -->
    <div class="tab-pane fade" id="1modal">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">
          <span class="loading">Scanning local network..</span><!-- load -->
          <span class="tulos">New sensor identified!</span><!-- result -->
        </h3>
      </div>

      <div class="modal-body">

          <!-- load -->
          <div class="loading">
            <p class"lead muted">searching for suitable sensors..</p>
            <img src="http://ec.europa.eu/markt/ecertis/images/progress_bar.gif" alt="loading..">  
          </div>

        <!-- result -->
        <div class="tulos">
          <ul class="thumbnails">
            <li class="span2">
              <div class="thumbnail">
                <img src="http://www.blackfoot.com/images/security/Water%20Damage%20Icon.gif">
              </div>
            </li>
          </ul>
          <p>One suitable new sensor found:</p>
          <div class="alert alert-success">
          <p>Sensor: <strong>Water detector </strong><small>(Everspring)</small>
          <span class="label label-success pull-right"><i class="icon-ok icon-white"></i> Successfully installed</span></p>
          </div>
        </div>
      </div>

      <div class="modal-footer tulos">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Back</button>
        <a class="btn btn-success" href="#2modal" data-toggle="tab">Connect to service</a>
      </div>

    </div><!-- ./1modal -->


    <!-- 2. Modal -->
    <div class="tab-pane fade" id="2modal">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Provider Finder Service</h3>
      </div>
      <div class="modal-body">
        <ul class="thumbnails">
          <li class="span2">
            <div class="thumbnail">
              <img src="http://cdn3.iconfinder.com/data/icons/mobilephone/128/search.png">
            </div>
          </li>
          <li class="span2">
            <div class="thumbnail">
              <img src="http://www.poolheatpumps.com/Images%20for%20Website/Icon-fix.png">
            </div>
          </li>
        </ul>
        <p><strong>Service category: Plumbing</strong></p>
        <p>Choose a service plan:</p>

        <div class="alert alert-success">
          <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            <strong>Smart Provider</strong>
          </label>
          <p>Automatically requests the best service provider in your area. You will receive a confirmation to your mobile phone.</p>
        </div>

        <div class="alert alert-info">
          <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
            <strong>Choose Provider</strong>
          </label>
          <p>Sends you a list of service providers in your area. You can sent a request with your mobile phone.</p>
        </div>


      </div>


      <div class="modal-footer">
        <a class="btn" href="#1modal" data-toggle="tab">Back</a>
        <button class="btn btn-info disabled">Learn more</button>
        <a href="/home/" class="btn btn-success">Connect to service</a>
      </div>

    </div><!-- ./2modal -->

  </div>



</div>


{% endblock %}


{% block script %}
<script src="{{STATIC_URL}}js/{{ title }}.js"></script>
{% endblock %}