<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Domus Sapiens{% block title %} | {{ title|capfirst }}{% endblock %}</title>
  <meta http-equiv=REFRESH content="10">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{STATIC_URL}}img/fav.ico">
  <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
  <link href="{{STATIC_URL}}css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="{{STATIC_URL}}css/boot-custom.css" rel="stylesheet">
  <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
  {% block head %}
  {% endblock %}
</head>

<body>

  <div class="container">

    <div class="row">

      <!-- header -->
      <div class="menu">

        <img id="ds-logo" src="{{STATIC_URL}}img/logo/ds_logo.png">


        <!-- menu -->
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse" rel="tooltip" data-placement="top" title="Menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <!--<span class="muted brand">{{ title|capfirst }}</span>-->
              <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav">

                  <li rel="tooltip" title="Use current features" class="{% if title == 'home'%}active{% endif %}"><a href="/home/"><i class="icon-home"></i> Home</a></li>

                  <li rel="tooltip" title="Search for external services" class="{% if title == 'services'%}active{% endif %}"><a href="/services/"><i class="icon-shopping-cart"></i> Services</a></li>

                  <li rel="tooltip" title="Manage user account" class="{% if title == 'manager'%}active{% endif %}"><a href="/manager/"><i class="icon-wrench"></i> Manager</a></li>

                  <li rel="tooltip" title="Search for provider" class="{% if title == 'provider'%}active{% endif %}"><a href="/provider/"><i class="icon-bell"></i> Notifications</a></li>

                </ul>

                {% block specific_buttons %}
                {% endblock %}

              </div><!-- /.nav-collapse -->

            </div>
          </div><!-- /navbar-inner -->
        </div><!-- /navbar -->

      </div><!-- .header -->

      <div class="">

        {% block content %}
        {% endblock %}

      </div>
      <hr>
      
    </div>
    <div class="footer">

    <a class="pull-right" href="http://www.efmnet.it"><img id="efm-logo" src="{{STATIC_URL}}img/logo/efm_logo.png"></a>
    </div>

  </div>

  <script src="{{STATIC_URL}}js/jquery-2.0.2.min.js"></script>
  <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
  <script src="{{STATIC_URL}}js/jquery.nicescroll.min.js"></script>
  <script src="{{STATIC_URL}}js/main.js"></script>
  {% block script %}
  {% endblock %}

</body>
</html>
