{% extends "base.html" %}


{% block content %}

{{ meta }}

<div class="container-fluid">
  <div class="row-fluid">
   <div class="span12">
     <ul class="thumbnails">

      <li class="span2"><a href="#providerModal" class="thumbnail" role="button" data-toggle="modal" rel="tooltip" title="Provider Finder"><img src="{{STATIC_URL}}img/icons/apps/provider.png"></a></li>

      <li class="span2"><a href="#energyModal" class="thumbnail" role="button" data-toggle="modal" rel="tooltip" title="Energy Account"><img src="{{STATIC_URL}}img/icons/apps/energy.png"></a></li>
      

      {% for app in applist %}
      <li class="span2"><a href="#myModal" class="thumbnail" role="button" data-toggle="modal"><img src="{{STATIC_URL}}img/icons/random/{{ app }}.png"></a></li>
      {% endfor %}

    </li>
  </ul> 
</div>
</div>

{% include 'apps/description/modal.html' %}
{% include 'apps/description/modal_provider.html' %}
{% include 'apps/description/modal_energy.html' %}


{% endblock %}


{% block script %}
<script src="{{STATIC_URL}}js/{{ title }}.js"></script>
{% endblock %}