{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block extrahead %}
{% endblock %}

{% block jquery %}
{% endblock %}

{% block active_manage %}class="active"{% endblock %}

{% block content %}


    <!--Left column content-->
      <div class="span4">

        <!-- Light -->
          <div class="well"><img class="pull-right" src="{{STATIC_URL}}img/icon/32x32/lightbulb.png">
            <h1 class="lead">Light Control</h1>

                <p class="muted">Living Room</p>

                <div class="row-fluid">

                    <p>
                    <a href=""><button class="btn btn-large btn-success" type="button">Switch On</button></a>

                    <br><br>

                    <a href=""><button class="btn btn-large btn-danger" type="button">Switch Off</button></a>
                    </p>

                </div>
          </div>



        <!-- Schedule -->
          <div class="well"><img class="pull-right" src="{{STATIC_URL}}img/icon/32x32/date.png">
            <h1 class="lead">Schedule</h1>

                <p class="muted">Events</p>

                <div class="row-fluid">

                    <p>No upcoming events</p>

                </div>
          </div>
      </div>


    <!--Center column content-->
      <div class="span4">

        <!-- Security -->
          <div class="well"><img class="pull-right" src="{{STATIC_URL}}img/icon/32x32/lock.png">
            <h1 class="lead">Security</h1>

                <p class="muted">Front Door</p>

                <div class="row-fluid">

                    <p>
                    <a href=""><button class="btn btn-large btn-success" type="button">Open Door</button></a>

                    <br><br>

                    <a href=""><button class="btn btn-large btn-danger" type="button">Lock Door</button></a>
                    </p>

                </div>
          </div>



        <!-- Energy -->
          <div class="well"><img class="pull-right" src="{{STATIC_URL}}img/icon/32x32/graphic-design.png">
            <h1 class="lead">Energy Consumption</h1>

                <p class="muted">Current Month</p>

                <div class="row-fluid">
<img class="" src="{{STATIC_URL}}img/icon/128x128/Chart Bar.png">
              

                </div>
          </div>

      </div>




    <!--Right column content-->
      <div class="span4">

        <!-- Monitor -->
          <div class="well"><img class="pull-right" src="{{STATIC_URL}}img/icon/32x32/networking.png">
            <h1 class="lead">Monitor</h1>

                <p class="muted">Front Door Stream</p>

                <div class="row-fluid">
<img src="{{STATIC_URL}}img/camera.gif">

                </div>
          </div>



        <!-- Sensor -->
          <div class="well"><img class="pull-right" src="{{STATIC_URL}}img/icon/32x32/feed.png">
            <h1 class="lead">Sensors</h1>

                <p class="muted">Manage sensors and devices</p>

                <div class="row-fluid">

                    <img class="pull-left tila" src="{{STATIC_URL}}img/icon/16x16/new_add_plus_blue.png"><p class="">Add new</p>

                </div>
          </div>





      </div>

{% endblock %}