{% extends "base.html" %}


{% block content %}

{% if temp %}
{{ temp }}
{% endif %}





{% if list %}
<table class="table table-striped">

<tr>
<th>Feedback</th>
<th>Time</th>
<th>Browser/OS</th>
</tr>

{% for feed in list %}
<tr>
	<td>{{ feed.message }}</td>
	<td>{{ feed.time }}</td>
	<td>{{ feed.browser }}</td>
</tr>
{% endfor %}



</table>  
{% else %}
    <p>{{ error }}</p>
{% endif %}



{% endblock %}

{% block footer %}

{% endblock %}

{% block script %}
<script src="{{STATIC_URL}}js/{{ title }}.js"></script>
{% endblock %}